# gitignore
.metadata/
.recommenders/
.settings/
.classpath
.project
bazel-bin/
bazel-out/
bazel-testlogs/
bazel-C2C-GEE/
bin/
target/
*.lock
*~
*#
*.log
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
